.fondo{
    margin: 0;
    background-image: url(img/food3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}